header {
  position: absolute;
  position: fixed;
  width: 100%;
  box-shadow: 0.1px 0.1px 5px;
  background-color: #f2f2f2;
}
.header {
  padding-top: 2.2rem;
  padding-bottom: 2.1rem;
  @include responsive-mobile(mobile) {
    padding-top: 2.2rem;
    padding-bottom: 2.1rem;
  }
  .header__container {
    display: flex;
    align-items: center;
    @include responsive(tablet) {
      gap: 58.18px;
    }
  }
  .logo {
    img {
      @include responsive-mobile(mobile) {
        width: 75.5px;
        height: 20px;
      }
    }
  }
}
