*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100%;
  overflow-x: hidden;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
main {
  flex-grow: 1;
}
img {
  display: flex;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: $font-family;
  overflow-x: hidden;
  background-color: #f2f2f2;
}
.container {
  max-width: 1210px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}
