$yellow-color: #fcb72b;
$Dark-Navy-color: #495567;
$Dim-Grey-color: #939caa;
$Light-Grey-color: #e5ecf4;
$Snow-color: #f2f5f9;
$Light-Yellow-color: #fff4df;
$font-family: "Space Mono", Arial, sans-serif;
$font-family-bold: "Lexend Deca", Arial, sans-serif;
